*,
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  --font-color: hsl(186, 41%, 46%);
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  position: relative;
}

main {
  height: 100%;
  margin: 0;
}

.header-index {
  font-size: 6rem;
  text-transform: uppercase;
  width: 40%;
  margin-top: 10rem;
  margin-bottom: 0rem;
}

.header-start {
  display: flex;
  flex-direction: row;
  margin-top: -8rem;
  margin-bottom: 0rem;
  padding-bottom: 0;
  transition: 0.5s ease;
}

.sub-head-index {
  display: inline-flex;
  animation: myAnim 5s ease 1 normal forwards;
  color: hsl(186, 41%, 23%);
}

.marg {
  margin-left: -2rem;
}

.icons-index {
  display: flex;
  width: 10rem;
  flex-direction: column;
  margin: 5rem auto 0rem;
}

.icon-size {
  width: 40px;
  height: 40px;
  margin-top: 5rem;
}
.left-index {
  margin-left: auto;
  animation: left 5s ease 1 normal forwards;
}

.right-index {
  animation: right 5s ease 1 normal forwards;
}

.bio-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.ul-index {
  display: flex;

  flex-direction: column;
  margin-left: 30%;

  font-size: 3.5rem;
  list-style: none;
}

.bounce {
  display: flex;
  width: 50%;
  justify-content: center;
  text-decoration: none;
  color: var(--font-color);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.list-index {
  padding-top: 3rem;
}

.bounce:hover {
  text-decoration: underline;
  transition: 400ms;
  animation-name: bounce;
  animation-timing-function: ease;
}

.bounce:active {
  color: black;
}

.bio-text {
  display: flex;
  max-width: 35%;
  max-height: 350px;
  margin-left: 40%;
  margin-top: 8%;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
  color: var(--font-color);
  background-image: linear-gradient(
    140deg,
    hsl(320, 54%, 25%, 0.1) 30%,
    rgb(255, 255, 255, 0.1),
    hsl(320, 54%, 25%, 0.1)
  );
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}

.bio-text:hover {
  outline: 4px solid rgb(255, 255, 255, 0.1);
  box-shadow: 0 0 30px black;
  transition: 100ms;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Nav-Menü Mobil */

/* Nav Menü */
.save-side,
.amazon-save {
  display: none;
}

nav {
  display: none;
  height: 30px;
  background-color: rgba(9, 100, 121, 1);
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: rgba(19, 175, 210, 1);
}

nav .home-style {
  margin-right: auto;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
  padding: 0 20px;
}

.nav-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 450px) {
  nav {
    height: 30px;
    background-color: rgba(9, 100, 121, 1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .links-container {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: rgba(9, 100, 121, 1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 1s ease-in-out;
  }

  .amazon-save {
    display: flex;
    height: 100px;
    width: 260px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    opacity: 0.5;
  }

  .save-side {
    display: flex;
    height: 120px;
    width: 280px;
    margin-top: auto;
    opacity: 0.5;
  }

  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  .list-index {
    display: none;
  }

  .sub-head-index {
    font-size: 3.6rem;
  }

  h1 {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: -1rem;
  }

  .marg {
    margin-left: 0rem;
  }

  body {
    margin: 0;
  }

  .mobile-page {
    display: flex;
    margin: 0;
  }

  .bio-text {
    display: flex;
    width: 40rem;
    margin-right: 0;
    margin-left: 4rem;
    margin-top: 0;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: var(--font-color);
    background-image: linear-gradient(
      140deg,
      hsl(320, 54%, 25%, 0.1) 30%,
      rgb(255, 255, 255, 0.1),
      hsl(320, 54%, 25%, 0.1)
    );
    box-shadow: 0 0 10px black;
    border-radius: 10px;
  }
}
