*,
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  --font-color: hsl(186, 41%, 46%);
}

body {
  margin: 0 0 0 5rem;
  height: 100%;
  position: relative;
}

main {
  height: 100%;
  margin: 0;
}

.save-amazon {
  position: absolute;
  width: 280px;
  height: 110px;
  left: -4rem;
  top: 70%;
  opacity: 0.4;
  transform: rotate(-22.5deg);
}

.beezsteez {
  position: absolute;
  width: 280px;
  height: 140px;
  left: -5rem;
  top: 87%;
  color: red;
  border-color: green;
  opacity: 0.4;
  transform: rotate(22.5deg);
}

header {
  font-size: 6rem;
  text-transform: uppercase;
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: -5rem;
  margin-bottom: 0rem;
  padding-bottom: 0;
  transition: 0.5s ease;
}

.sub-head {
  display: inline-flex;
  animation: myAnim 5s ease 1 normal forwards;
  color: hsl(186, 41%, 23%);
}

.marg {
  margin-left: -3rem;
}

.icons {
  display: flex;
  width: 10rem;
  flex-direction: column;
  margin: 5rem auto 0rem;
}

.icon-size {
  width: 40px;
  height: 40px;
  margin-top: 5rem;
}
.left {
  margin-left: auto;
  animation: left 5s ease 1 normal forwards;
}

.right {
  animation: right 5s ease 1 normal forwards;
}

.bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

ul {
  display: flex;

  flex-direction: column;
  margin-left: 30%;

  font-size: 3.5rem;
  list-style: none;
}

.bounce {
  display: flex;
  width: 50%;
  justify-content: center;
  text-decoration: none;
  color: var(--font-color);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

li {
  padding-top: 3rem;
}

.bounce:hover {
  text-decoration: underline;
  transition: 400ms;
  animation-name: bounce;
  animation-timing-function: ease;
}

.bounce:active {
  color: black;
}

.bio-text {
  display: flex;
  max-width: 35%;
  margin-left: 40%;
  margin-top: 8%;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
  color: var(--font-color);
  background-image: linear-gradient(
    140deg,
    hsl(320, 54%, 25%, 0.1) 30%,
    rgb(255, 255, 255, 0.1),
    hsl(320, 54%, 25%, 0.1)
  );
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}

.bio-text:hover {
  outline: 4px solid rgb(255, 255, 255, 0.1);
  box-shadow: 0 0 30px black;
  transition: 100ms;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
