*,
*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-color: grey;
}

/* NAV-BAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0.5rem;
  font-size: 1rem;
}

.logo img {
  height: 40px;
  width: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  display: block;
}

.nav-links .dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  z-index: 10;
}

.nav-links .dropdown-content li a {
  padding: 10px 20px;
}

.nav-links .dropdown:hover .dropdown-content {
  display: block;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}

/* Startseite */

.header-index {
  font-size: 1.75rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 1.5rem;
  animation: myAnim 5s ease 1 normal forwards;
}

.header-start {
  display: flex;
  flex-direction: row;
  margin-top: -8rem;
  margin-bottom: 0rem;
  padding-bottom: 0;
  transition: 0.5s ease;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

.icons-index {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem 1rem 1rem;
  animation: myAnim 5s ease 1 normal forwards;
}

.icon-index {
  display: flex;
  justify-content: center;
  gap: 5rem;
  animation: myAnim 5s ease 1 normal forwards;
}

.icon-size {
  width: 40px;
  height: 40px;
}

.biographie-index {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.bio-text {
  border: 2px solid white;
  border-radius: 10px;
  background: rgba(0, 0, 0, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(59, 59, 59, 1) 41%,
    rgba(92, 92, 92, 1) 61%,
    rgba(102, 102, 102, 1) 82%,
    rgba(117, 117, 117, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(0, 0, 0, 1)),
    color-stop(41%, rgba(59, 59, 59, 1)),
    color-stop(61%, rgba(92, 92, 92, 1)),
    color-stop(82%, rgba(102, 102, 102, 1)),
    color-stop(100%, rgba(117, 117, 117, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(59, 59, 59, 1) 41%,
    rgba(92, 92, 92, 1) 61%,
    rgba(102, 102, 102, 1) 82%,
    rgba(117, 117, 117, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(59, 59, 59, 1) 41%,
    rgba(92, 92, 92, 1) 61%,
    rgba(102, 102, 102, 1) 82%,
    rgba(117, 117, 117, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(59, 59, 59, 1) 41%,
    rgba(92, 92, 92, 1) 61%,
    rgba(102, 102, 102, 1) 82%,
    rgba(117, 117, 117, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(59, 59, 59, 1) 41%,
    rgba(92, 92, 92, 1) 61%,
    rgba(102, 102, 102, 1) 82%,
    rgba(117, 117, 117, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#757575', GradientType=1 );
  -webkit-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.75);
  color: white;
  width: 80%;
  font-size: 1.35rem;
  padding: 1rem;
}

.bees {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 0rem 2rem;
  animation: bounce 5s ease 1 normal forwards;
}

@keyframes bounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(-68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(-32px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

.bees img {
  height: 50px;
  width: 90px;
}

#amazonas {
  width: 120px;
  height: 50px;
}

/* About Me || CV */

.header-cv {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 35%;
  border-bottom: 2px solid black;
  background: rgb(1, 14, 17);
  background: linear-gradient(
    0deg,
    rgba(1, 14, 17, 1) 11%,
    rgba(9, 100, 121, 1) 36%,
    rgba(19, 175, 210, 1) 69%
  );
}

.overhead-cv {
  text-align: center;
  background-image: linear-gradient(
    180deg,
    rgba(1, 14, 17, 1) 11%,
    rgba(9, 100, 121, 1) 36%,
    rgba(19, 175, 210, 1) 69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12.5rem;
  margin-top: auto;
}

.sub-heading-cv {
  text-align: center;
  font-size: 2rem;

  color: rgba(9, 100, 121, 1);
  text-decoration: underline black;
  text-decoration-style: double;
  margin-top: -9rem;
  padding-bottom: 1rem;
}

.contact-cv {
  border-bottom: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-size: 1.25rem;
  background: rgb(1, 14, 17);
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 5%,

    rgba(19, 175, 210, 1) 100%
  );
  padding-top: 0.5rem;
}

.contact-cv a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

/* Content */

#content-cv {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.fertigkeiten {
  border-top: 2px solid black;
  padding-bottom: 1rem;
}

.fertigkeiten h2 {
  margin-bottom: 0.75rem;
}

.fertigkeiten div {
  display: inline;
  flex-direction: column;
  text-align: center;
  font-size: 1.25rem;
}

.sprachen {
  border-top: 2px solid black;
}

.sprachen h2 {
  margin-bottom: 0.75rem;
}

.sprachen ul {
  text-align: center;
  list-style: none;
  padding: 1rem;
  font-size: 1.25rem;
}
