*,
*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  font-family: "Baskervville SC", serif;
  font-weight: 600;
  font-style: normal;
  --var-font-color: #3e3232;
  --var-background-color: #a87c7c;
  --var-accent-color: #503c3c;
  --var-shadow-color: #7e6363;
  --var-border-color: #957777;
}

body {
  margin: 0;
  background-color: var(--var-background-color);
}

@media (width: 1920px) {
  body {
    display: flex;
    align-items: center;
    :root {
      font-size: 2.25rem;
    }
  }
}

/* NAV-BAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--var-accent-color);
  padding: 0.5rem;
  font-size: 1rem;
}

.logo img {
  height: 40px;
  width: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: var(--var-border-color);
  text-decoration: none;
  padding: 8px 12px;
  display: block;
}

.nav-links .dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: var(--var-accent-color);
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 160px;
  box-shadow: 0 8px 16px var(--var-shadow-color);
}

.dropdown-content {
  z-index: 10;
}

.nav-links .dropdown-content li a {
  padding: 10px 20px;
}

.nav-links .dropdown:hover .dropdown-content {
  display: block;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: var(--var-border-color);
  margin: 4px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}

/* Startseite */

.header-container {
  display: grid;
  grid-template-rows: 1fr auto;
}

.header-index {
  font-size: 1.75rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--var-font-color);
  padding: 2rem;
}

.header-index h1 {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(60, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border: 8px solid var(--var-border-color);
  background-color: var(--var-background-color);
  width: 180px;
  height: 180px;
  margin: auto;
  border-radius: 100%;
}

.profile-pic img {
  width: 160px;
  height: 160px;
  margin-left: 2.5rem;

  border-radius: 100%;
}

.biographie-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.bio-text {
  border: 2px solid var(--var-border-color);
  border-radius: 10px;
  color: var(--var-font-color);
  background: rgb(168, 124, 124);
  background: linear-gradient(
    180deg,
    rgba(168, 124, 124, 1) 10%,
    rgba(126, 99, 99, 1) 100%
  );
  box-shadow: 0px 0px 12px 4px var(--var-shadow-color);
  width: 80%;
  font-size: 1.35rem;
  padding: 1rem;
}

.bees {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding: 2rem 2rem 0rem 2rem;
  animation: bounce 5s ease 1 normal forwards;
}

@keyframes bounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(-68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(-32px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

.bees img {
  height: 50px;
  width: 90px;
}

#amazonas {
  width: 120px;
  height: 50px;
}

/* icons*/

.header-code {
  display: flex;
  justify-content: center;
}

.header-code h2 {
  color: var(--var-font-color);
  font-size: 2.5rem;
  border: 2px solid var(--var-border-color);
  border-radius: 40px 0px 40px 0px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  box-shadow: 0px 0px 12px 4px var(--var-shadow-color);
}

.icons-index {
  display: grid;
  grid-template-rows: auto;
  gap: 0.5rem;
  padding: 1rem;
}

.left {
  justify-self: start;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--var-font-color);
}

.icon-size {
  height: 40px;
  width: 40px;
  margin-right: 0.5rem;
}

/* Prject-Page */

.header-projects {
  display: flex;
  justify-content: center;
}

.header-projects h2 {
  display: flex;
  color: var(--var-font-color);
  font-size: 2.5rem;
  border: 2px solid var(--var-border-color);
  border-radius: 40px 0px 40px 0px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  box-shadow: 0px 0px 12px 4px var(--var-shadow-color);
}

.finished-projects {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.finished-projects h2 a {
  color: var(--var-font-color);
}

.finished-projects h2 a:hover {
  color: blue;
}

.finished-projects img {
  height: 300px;
  width: 350px;
}

/* Footer */
.contact-icon {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
  gap: 1rem;
  border-top: 2px solid var(--var-border-color);
  background-color: var(--var-accent-color);
}

.contact-icon img {
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) and (max-width: 1920px) and (max-height: 1080px) {
  body {
    max-height: 100%;
    font-size: 1.5rem;
  }

  .header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header-index {
    font-size: 5.5rem;
    text-shadow: 1px 1px 2px white;
    padding-left: 5rem;
  }

  .profile-pic {
    width: 280px;
    height: 280px;
  }

  .profile-pic img {
    width: 280px;
    height: 280px;
    margin-left: 7.5rem;
  }

  .icons-index {
    flex-direction: column;
    align-items: center;
    padding: 4rem;
  }

  .icon-size {
    width: 60px;
    height: 60px;
  }

  .biographie-index {
    padding: 0 0 0 4rem;
    flex-direction: column;
    justify-content: flex-start;
  }

  .bio-text {
    border: none;
    width: 60%;
    margin-top: 0;
  }

  .bees {
    margin-bottom: 5rem;
    gap: 10rem;
  }

  .bees img {
    width: 400px;
    height: 250px;
    opacity: 0.4;
  }

  #amazonas {
    width: 480px;
    height: 200px;
  }

  .projects-incoming {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .finished-projects {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 50%;
  }
}
