*,
*,
::before ::after {
  box-sizing: border-box;
}

:root {
  --text-color: hsl(282, 100%, 41%);
  --color-1: rgba(9, 100, 121, 1);
  --color-2: rgba(19, 175, 210, 1);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
/* Nav Menü */
.save-side,
.amazon-save {
  display: none;
}

nav {
  height: 30px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: var(--color-2);
}

nav .home-style {
  margin-right: auto;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
  padding: 0 20px;
}

/* Nav Menu Mobile */

@media (max-width: 450px) {
  html {
    font-size: 14px;
  }

  .links-container {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 1s ease-in-out;
  }

  .amazon-save {
    display: flex;
    height: 120px;
    width: 260px;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .save-side {
    display: flex;
    height: 160px;
    width: 280px;
    margin-top: auto;
  }

  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

.nav-icon {
  width: 24px;
  height: 24px;
}

/* Header Begin */

.header-cv {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 35%;
  border-bottom: 2px solid black;
  background: rgb(1, 14, 17);
  background: linear-gradient(
    0deg,
    rgba(1, 14, 17, 1) 0%,
    rgba(9, 100, 121, 1) 36%,
    rgba(19, 175, 210, 1) 69%
  );
}

.overhead {
  text-align: center;
  background-image: linear-gradient(
    180deg,
    rgba(1, 14, 17, 1) 0%,
    rgba(9, 100, 121, 1) 36%,
    rgba(19, 175, 210, 1) 69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12.5rem;
  margin-top: auto;
}

.sub-heading-cv {
  text-align: center;
  font-size: 2rem;

  color: rgba(9, 100, 121, 1);
  text-decoration: underline black;
  text-decoration-style: double;
  margin-top: -9rem;
  padding-bottom: 1rem;
}

.contact-cv {
  border-bottom: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-size: 1.25rem;
  background: rgb(1, 14, 17);
  background: linear-gradient(
    180deg,
    rgba(1, 14, 17, 1) 11%,
    rgba(19, 175, 210, 0) 100%,
    rgba(9, 100, 121, 0) 100%
  );
  padding-top: 0.5rem;
}

.contact-cv a {
  color: Black;
  text-decoration: none;
}

.contact-cv a:hover {
  cursor: pointer;
  color: brown;
}

/* Header Ends */

@media() {
}
